.App {
  width: 100%;
  overflow-x: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  padding-top: 70px; /* Adjust this value based on the header's height */
}

/* Optionally, set global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
